@media (max-width: 990px) {
    header ul li {
        margin-right: 15px;
    }
}

@media (max-width: 930px) {
    #price .section-price_wrap {
        grid-template-columns: 1fr 1fr;
    }

    #price .section-price_wrap div:nth-child(3) {
        grid-column: 1/3;
    }
}

@media (max-width: 920px) {
    header ul li {
        margin-right: 5px;
    }
}

@media (max-width: 900px) {
    #apps .section-apps_wrap {
        grid-template-columns: 1fr;
    }

    #apps .section-apps_download {
        text-align: center;
    }
}

@media (max-width: 870px) {
    #about .section-about_wrap {
        grid-template-columns: 1fr 1fr;
    }

    #advantage .section-advantage_wrap {
        grid-template-columns: 1fr;
    }

    #advantage .section-advantage_wrap .advantage-users {
        margin-top: 50px;
        padding-left: 60px;
        padding-right: 60px;
    }

    #advantage .section-advantage_wrap .advantage-users .users-title {
        font-size: 21px;
    }
}

@media (max-width: 860px) {
    header ul {
        flex-direction: column;
    }

    header ul li {
        margin-bottom: 10px;
    }

    header .header-content_bottom {
        flex-direction: column;
    }

    header .header-content_bottom div {
        margin-bottom: 10px;
    }

    #first {
        padding-top: 60px;
    }

}

@media(min-width: 861px) {
    header .header-content_top {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #f4f4f4;
        background-color: #fff;
        z-index: 999;
    }

    header .header-content_bottom {
        margin-top: 70px;
    }
}

@media (max-width: 775px) {
    .section-services_wrap {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 120px;
        padding-left: 25px;
    }
}

@media (max-width: 768px) {
    #turn .section-turn_wrap {
        grid-template-columns: 1fr 1fr;
    }

    #turn .section-turn_wrap div:nth-child(3) {
        grid-column: 1/3;
        margin-top: 40px;
    }

    #price .choose-card {
        flex-direction: column;
    }

    #price .tabs-card {
        margin-top: 20px;
    }
}

@media (max-width: 670px) {
    #price .section-price_wrap {
        grid-template-columns: 1fr;
    }
    #price .section-price_wrap div:nth-child(3) {
        grid-column: 1;
    }
}

@media(max-width: 655px) {
    #comments .section-comments_wrap ul {
        display: block;
        padding: 0;
    }

    #comments .section-comments_wrap ul li {
        margin-top: 35px;
        display: inline-block;
        text-align: center;
    }
}

@media (max-width: 620px) {
    #advantage .section-advantage_wrap .advantage-cards {
        grid-template-columns: 1fr 1fr;
    }

    #advantage .section-advantage_wrap .advantage-cards .card-other {
        grid-column: 1/3;
    }
}

@media (max-width: 576px) {
    #first .section-first_wrap h1 br {
        display: none;
    }

    #first .section-first_wrap h1 {
        font-size: 30px;
    }
}

@media (max-width: 548px) {
    .section-services_wrap {
        grid-template-columns: 1fr;
        padding-left: 0px;
    }

    .section-services_wrap div p {
        text-align: center;
        padding-left: 0;
    }

    .section-services_wrap div::before {
        left: 15px;
    }
}

@media (max-width: 460px) {
    #about .section-about_wrap {
        grid-template-columns: 1fr;
    }

    #turn .section-turn_wrap {
        grid-template-columns: 1fr;
    }

    #turn .section-turn_wrap div:nth-child(3) {
        grid-column: 1;
    }

    #advantage .section-advantage_wrap .advantage-users {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 446px) {
    .section-apps_download img {
        margin-top: 20px;
    }
}

@media (max-width: 360px) {
    #first .section-first_wrap h1 {
        font-size: 28px;
    }

    #first .btn-red {
        width: 100%;
    }
}